{% extends 'base_back.html.twig' %}

{% block title %}Modifier Devoir{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Modifier Devoir</h1>

        {{ include('devoir/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}