{% extends 'base_back.html.twig' %}

{% block title %}Nouveau Devoir{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Créer un nouveau Devoir</h1>

        {{ include('devoir/_form.html.twig') }}
    </div>
{% endblock %}