{# templates/rating/_form.html.twig #}
{{ form_start(form, {'attr': {'class': 'rating-form'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}