{# templates/rating/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvelle évaluation{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouvelle évaluation</h1>
        {{ include('rating/_form.html.twig') }}
    </div>
{% endblock %}